### Ignore all csv files so that raw data doesn't get uploaded to remote rep ###
**.csv

### Ignroe api_secrets file ###
app-env

### Ignore the database
*.db

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

## Ignore Python Created by https://www.gitignore.io/api/python ##
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class





