/* Notes on current CSS code*/
/* I generated a simple grid using Grid Generator */
/* http://www.responsivegridsystem.com/calculator/ */
/* Set to 2 columns with 1.6% margins */

/* The map overlay and feature classes (at bottom) are left over from Map box tutorial */
/* Also note: the buttons use CSS pulled from bootstrap CDN */


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  top: 20%;
  left: 1%;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 50px;
  font-family: Arial, sans-serif;
  /*overflow: auto;
  border-radius: 3px;*/
}

#features {
  top: 50;
  height: 175px;
  margin-top: 40px;
  width: 250px;
}