<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
	<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet'/>
	

	<!-- The next three are for Bootstrap, at this point only being used for buttons -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- This is for the github buttons. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>

</head>


<div class="section group">
	<div class="col span_1_of_2">
		<h1>Totago Mapping Project</h1>
		<div id='map' style='width: 100%; height: 750px;'></div>
		<div class='map-overlay' id='features'><h2>Postal Code:</h2><div id='pd'><p>Hovering over:</p><p data-bind="text: displayedInfo()"></p><p>Total trips taken:</p><p data-bind="text: highlightedPostalCodeHits"></p></div></div>
		</div>
	<div class="col span_1_of_2">
		<h1> Seattle Region </h1>
		<h2> Cick to Change Region </h2>
		<button type="button" class="btn btn-primary">Seattle</button>
		<button type="button" class="btn btn-warning">Vancouver BC</button>
		<button type="button" class="btn btn-warning">Los Angeles</button>
		<button type="button" class="btn btn-warning">San Diego</button>
		<button type="button" class="btn btn-warning">New York</button>
		<h2> Click on a Zip Code Area to see where people are going </h2>
		<div id=graph-container>
		</div>
		<canvas id="myChart"></canvas>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/turnofftheapp" aria-label="Follow @turnofftheapp on GitHub">Follow @turnofftheapp</a>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/turnofftheapp/mapProj" data-icon="octicon-star" aria-label="Star turnofftheapp/mapProj on GitHub">Star</a>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/turnofftheapp/mapProj/fork" data-icon="octicon-repo-forked" aria-label="Fork turnofftheapp/mapProj on GitHub">Fork</a>
	</div>
</div>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
<script src='{{url_for('static', filename='destinationsWA.js')}}'> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<!--<script src='{{url_for('static', filename='map.js')}}'> </script>-->

<script src='{{url_for('static', filename='model.js')}}'> </script>
<script src='{{url_for('static', filename='viewModel.js')}}'> </script>
<script src='{{url_for('static', filename='view.js')}}'> </script>

</html>